<%-include('../partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" href="../style/Detail_small.css">
<%-include('../partials/nav.ejs')%>
<main>
    <section class="detail_fig detail">
        <div class="container list_info">
            <div class="detail_fig">
                <div class="fig_info">
                    <h2><%=origin.name%></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="detail">
        <div class="content">
            <div class="img_display">
                <div class="flex_imgs col-2">
                    <a class="main">
                        <%if(origin?.image){%>
                            <img src="<%=origin.image%>" alt="">
                        <%}else{%>
                            <img src="/imgs/detail/empty.png" alt="">
                        <%}%>
                    </a>
                </div>
                <div class="fig_info bl">
                    <ul class="info">
                        <li><strong>Original Name: </strong><span><%=origin.name%></span></li>
                        <li><strong>Companies Involve: </strong>
                            <div class="compimgs">
                                <%company.forEach(com=>{%>
                              <div class="comp">
                                    <a href="<%=com.Homepage%>">
                                        <img src="<%=com.image%>" alt="">
                                    </a>
                                </div>
                                <%})%> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>
    <section class="detail">
        <div class="content info">
            <h2>Figure Involve</h2>
            <div class="figures">
                <%figures.forEach(figure=>{%>
                    <div class="figure_detail">
                        <a href="/figure/<%=figure._id%>">
                            <img src="<%=figure.images[0]%>" alt="<%=figure.name%>">
                        </a>
                    </div>
                <%})%>
            </div>
        </div>
    </section>
    <section class="detail">
    </section>
</main>
<script src="/script/scroll.js"></script>
