<%-include('../partials/header.ejs')%>
<link rel="stylesheet" href="../../style/items.css">
<%-include('../partials/nav.ejs')%>
<main>
    <section class="detail_fig detail">
        <div class="container list_info">
            <div class="detail_fig">
                <div class="fig_info">
                    <h2>Release by month</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="detail">
        <div class="content info">
            <div class="figures">
                <%latest.forEach(figure=>{%>
                <div class="figure_detail">
                    <a href="/figure/<%=figure._id%>">
                        <%if(figure?.images){%>
                            <img src="<%=figure.images[0]%>" alt="">
                        <%}else{%>
                            <img src="/imgs/detail/empty.png" alt="">
                        <%}%>
                    </a>
                    <h5 class="about_figure">
                        <%=figure.name%>
                    </h5>
                </div>
            <%})%>
            </div>
        </div>
    </section>
    <div class="pagination">
    </div>
</main>
<script>
    const page = '<%=page%>';
    const length = '<%=length%>'
</script>
<script src="/script/pagination.js"></script>
<script>
    pagination('month');
</script>
<%-include('../partials/footer.ejs')%>