<%-include('../partials/header.ejs')%>
<link rel="stylesheet" href="../style/Index.css">
<%-include('../partials/nav.ejs')%>
    <main>
        <div class="header_section">
            <div class="menu_content">
                <div class="content">
                    <span>Figures</span>
                    <span>Wiki</span>
                    <span>Database</span>
                </div>
                <div class="about-figure">
                    <p>
                        A figure model, also known as a nude model or art model, assists art students who are learning to draw the human form. You carry out your duties in an art class, and your responsibilities are to pose nude and remain still as students draw what they see.
                    </p>
                </div>
                <div class="btn-start">
                    <a href="#main_content" class="main-btn">Let's Start !</a>
                </div>
            </div>
            <div class="figure_img">
                <div class="border_img">
                    <img src="../imgs/ganyu.png" alt="ganyu">
                </div>
            </div>
        </div>
        <section id="main_content">
            <div class="container reveal">
                <h2>Latest Additions</h2>
                <div class="cards">
                    <%figures.forEach(figure=>{%>
                        <a href="/figure/<%=figure._id%>" class="text-card" style="background-image: url('<%=figure.images[0]%>');background-size: cover;
                        background-repeat: no-repeat;">
                            <div class="about_fig">
                                <h3>Title</h3>
                                <p><%=figure.name%></p>
                                 </div>
                        </a>
                    <%})%>
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>This Month Releases</h2>
                
                <div class="cards">
                    <a href="#" class="text-card" style="background-image: url('../imgs/1.png');background-size: cover;
                    background-repeat: no-repeat;">
                        <div class="about_fig">
                            <h3>Title</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                             </div>
                    </a>
                    <a href="#" class="text-card" style="background-image: url('../imgs/2.png');background-size: cover;
                    background-repeat: no-repeat;">
                        <div class="about_fig">
                            <h3>Title</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                             </div>
                    </a> 
                    <a href="#" class="text-card" style="background-image: url('../imgs/3.png');background-size: cover;
                    background-repeat: no-repeat;">
                       <div class="about_fig">
                           <h3>Title</h3>
                           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                            </div>
                    </a>
                    <a href="#" class="text-card" style="background-image: url('../imgs/4.jpg');background-size: cover;
                    background-repeat: no-repeat;">
                        <div class="about_fig">
                            <h3>Title</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                             </div>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="container reveal">
                <h2>Items on Fire</h2>
                <div class="cards">
                    <a href="#" class="text-card" style="background-image: url('../imgs/1.png');background-size: cover;
                    background-repeat: no-repeat;">
                        <div class="about_fig">
                            <h3>Title</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                             </div>
                    </a>
                    <a href="#" class="text-card" style="background-image: url('../imgs/2.png');background-size: cover;
                    background-repeat: no-repeat;">
                        <div class="about_fig">
                            <h3>Title</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                             </div>
                    </a> 
                    <a href="#" class="text-card" style="background-image: url('../imgs/3.png');background-size: cover;
                    background-repeat: no-repeat;">
                       <div class="about_fig">
                           <h3>Title</h3>
                           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                            </div>
                    </a>
                    <a href="#" class="text-card" style="background-image: url('../imgs/4.jpg');background-size: cover;
                    background-repeat: no-repeat;">
                        <div class="about_fig">
                            <h3>Title</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                             </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <script>let size = '<%=figures.length%>'
    </script>
    <%-include('../partials/footer_main.ejs')%>